<div class="layout-lewy">
  <h2>Kategorie ogłoszeń</h2>
  <ol>
    @for (cat of categories; track cat.id) {
      <li>{{ cat.nazwa }}</li>
    }
  </ol>
  <img src="/ksiazki.jpg" alt="Książki" class="book-img">
  
  <table class="custom-table">
    <tr><th>Liczba ogłoszeń</th><th>Cena ogłoszenia</th></tr>
    <tr><td>1 - 10</td><td>1 PLN</td></tr>
    <tr><td>11 - 50</td><td>0.80 PLN</td></tr>
    <tr><td>51 i więcej</td><td>0.60 PLN</td></tr>
  </table>
  <p class="mt-2 text-primary">* BONUS Subskrypcja newslettera to upust 0.20 PLN na ogłoszenie</p>
</div>